{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}


{% extends "products/relay/base.html" %}
{% from "macros-protocol.html" import split with context %}

{% block page_title_full %}TKTK{% endblock %}
{% block page_title_suffix %}{% endblock %}

{% block page_desc %}TKTK{% endblock %}

{% block body_id %}relay-landing{% endblock %}

{% set _utm_source = 'www.mozilla.org-relay-product-page' %}
{% set _utm_campaign = 'relay-product-page' %}
{% set _params = '?utm_source=' ~ _utm_source ~ '&utm_medium=referral&utm_campaign=' ~ _utm_campaign %}

{% block page_css %}
  {{ css_bundle('relay-landing') }}
{% endblock %}

{% block sub_navigation %}
  {% include 'products/relay/includes/subnav.html' %}
{% endblock %}


{% block content %}

<div class="t-hero">

  {% call split(
    block_class='mzp-l-split-pop',
    theme_class='',
    media_class='',
    media_include='products/relay/includes/phone.html'
  ) %}
    <h1 class="mzp-u-title-md">{{ ftl('hero-section-title') }}</h1>
    <p>{{ ftl('hero-section-body') }}</p>
    <p><button>{{ ftl('hero-section-cta') }}</button></p>
    <img class="c-brands" src="{{ static('img/products/relay/landing/brands.svg') }}" alt="" width="480" height="54">
  {% endcall %}

  {% include 'products/relay/includes/bundle.html' %}

</div>

<section class="mzp-l-content c-works">
  <h2 class="c-works-heading">{{ ftl('how-it-works-section-title') }}</h2>
  <div class="mzp-l-columns mzp-t-columns-three">
    <div>
      <img src="{{ static('img/products/relay/landing/how/how-it-works-1.svg') }}" alt="" width="306" height="223" loading="lazy" class="c-works-img">
      <h3 class="mzp-u-title-2xs">{{ ftl('how-it-works-section-extension-headline') }}</h3>
      <p>{{ ftl('how-it-works-section-extension-body') }}</p>
    </div>
    <div>
      <img src="{{ static('img/products/relay/landing/how/how-it-works-2.svg') }}" alt="" width="306" height="223" loading="lazy" class="c-works-img">
      <h3 class="mzp-u-title-2xs">{{ ftl('how-it-works-section-forward-headline') }}</h3>
      <p>{{ ftl('how-it-works-section-forward-body') }}</p>
    </div>
    <div>
      <img src="{{ static('img/products/relay/landing/how/how-it-works-3.svg') }}" alt="" width="306" height="223" loading="lazy" class="c-works-img">
        <h3 class="mzp-u-title-2xs">{{ ftl('how-it-works-section-manage-headline') }}</h3>
        <p>{{ ftl('how-it-works-section-manage-body') }}</p>
    </div>
  </div>
</section>

<div class="t-odd">
  <section class="mzp-l-content">

    <h2>ftl-reviews</h2>

    <p><a href="https://addons.mozilla.org/en-US/firefox/addon/private-relay/">Firefox Browser Add-ons</a></p>

    <p>4.1 out of 5 <br>
    (1,259 reviews)</p>

    <blockquote>
      <p>I really appreciate the Mozilla team for being so creative and simplifying the anonymizing of my email address. This is a great extension, I highly recommend it to the privacy-aware!</p>
      <cite>Jon <br>Source: <a href="https://addons.mozilla.org/en-US/firefox/addon/private-relay/reviews/1816986/">addons.mozilla.org</a></cite>
    </blockquote>

    </p>

  </section>


  <section class="c-pricing">
    <h2 class="mzp-u-title-sm">{{ ftl('plan-matrix-offer-title') }}</h2>
    <p>{{ ftl('plan-matrix-offer-body') }}</p>
    <div class="mzp-l-content">
      {% include 'products/relay/includes/matrix.html' %}
    </div>
  </section>

  {% include 'products/relay/includes/features.html' %}

  <section class="mzp-l-content u-center">
    <h2>{{ ftl('highlighted-features-section-bottom-title') }}</h2>
    <p><button>{{ ftl('highlighted-features-section-bottom-cta') }}</button></p>
  </section>


</div>

<section class="mzp-l-content c-landing-faq">
  <h2>{{ ftl('landing-faq-headline') }}</h2>
  <p><a href="TKTK" class="mzp-c-cta-link">{{ ftl('landing-faq-cta') }}</a></p>
  <div>
    <details>
      <summary><h3 class="mzp-u-title-2xs">{{ ftl('faq-question-availability-question') }}</h3></summary>
      <p>{{ ftl('faq-question-landing-page-availability') }}</p>
    </details>

    <details>
      <summary><h3 class="mzp-u-title-2xs">{{ ftl('faq-question-what-is-question-2') }}</h3></summary>
      <p>{{ ftl('faq-question-what-is-answer-2') }}</p>
    </details>

    <details>
      <summary><h3 class="mzp-u-title-2xs">{{ ftl('faq-question-use-cases-question-2') }}</h3></summary>
      <p>{{ ftl('faq-question-use-cases-answer-part1-2') }}</p>
      <p>{{ ftl('faq-question-use-cases-answer-part2-2') }}</p>
    </details>

    <details>
      <summary><h3 class="mzp-u-title-2xs">{{ ftl('faq-question-browser-support-question') }}</h3></summary>
      <p>{{ ftl('faq-question-browser-support-answer-2') }}</p>
    </details>
  </div>

</section>

{% endblock %}
