{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}


{% extends "products/relay/base.html" %}
{% from "macros-protocol.html" import split with context %}

{% block page_title_full %}TKTK{% endblock %}
{% block page_title_suffix %}{% endblock %}

{% block page_desc %}TKTK{% endblock %}

{% block body_id %}relay-landing{% endblock %}

{% set _utm_source = 'www.mozilla.org-relay-product-page' %}
{% set _utm_campaign = 'relay-product-page' %}
{% set _params = '?utm_source=' ~ _utm_source ~ '&utm_medium=referral&utm_campaign=' ~ _utm_campaign %}

{% block page_css %}
  {{ css_bundle('relay-landing') }}
{% endblock %}

{% block sub_navigation %}
  {% include 'products/relay/includes/subnav.html' %}
{% endblock %}


{% block content %}

<section class="t-intro">

{% set intro_image = '
  <div class="mzp-c-split-media-asset">
    <div class="c-phone">
      <img src="' + static('img/products/relay/landing/intro/hex.svg') + '" alt="" width="599" height="549" >
      <img src="' + static('img/products/relay/landing/intro/phone-nopremium.svg') + '" alt="" width="369" height="657">
      <img src="' + static('img/products/relay/landing/intro/fg.svg') + '" alt="" width="509" height="575">
    </div>
  </div>' %}

{% call split(
  block_class='mzp-l-split-pop',
  theme_class='',
  media_class='',
  image=intro_image
) %}

  <h1 class="mzp-u-title-md">{{ ftl('hero-section-title') }}</h1>
  <p>{{ ftl('hero-section-body') }}</p>
  <p>{{ ftl('hero-section-cta') }}</p>
  <img src="{{ static('img/products/relay/landing/intro/brands.svg') }}" alt="" width="480" height="54">

{% endcall %}

  <div class="mzp-l-content mzp-t-content-nospace">
    <div class="mzp-c-emphasis-box mzp-t-dark t-bundle">

      <h2 class="mzp-u-title-sm">{{ ftl('bundle-banner-header-2', monthly_price="TKTK") }}</h2>
      <p>{{ ftl('bundle-banner-body-3', savings="TKTK") }}</p>
      <h3 class="mzp-u-title-3xs">{{ ftl('bundle-banner-plan-header-2') }}</h3>
      <ul class="c-bundle-list">
        <li>{{ ftl('bundle-banner-plan-modules-email-masking') }}</li>
        <li>{{ ftl('bundle-banner-plan-modules-phone-masking') }}</li>
        <li>{{ ftl('bundle-banner-plan-modules-mozilla-vpn') }}</li>
        <li class="c-bundle-stat">{{ ftl('bundle-feature-one',num_vpn_servers='TKTK' ) }}</li>
        <li class="c-bundle-stat">{{ ftl('bundle-feature-two', num_vpn_countries="TKTK") }}</li>
        <li class="c-bundle-stat">{{ ftl('bundle-feature-three') }}</li>
      </ul>
      <p>
        {{ ftl('bundle-banner-cta') }}

        {{ ftl('bundle-banner-alt') }}

        <small>{{ ftl('bundle-banner-money-back-guarantee-2', days_guarantee="TKTK") }}</small>
      </p>
    </div>
  </div>

</section>

<section class="mzp-l-content">

  <h2 class="u-center">{{ ftl('how-it-works-section-title') }}</h2>

  <div class="mzp-l-columns mzp-t-columns-three">
    <div>
      <img src="{{ static('img/products/relay/landing/how/how-it-works-1.svg') }}" alt="" width="306" height="223" loading="lazy">
      <h3 class="mzp-u-title-2xs">{{ ftl('how-it-works-section-extension-headline') }}</h3>
      <p>{{ ftl('how-it-works-section-extension-body') }}</p>
    </div>
    <div>
      <img src="{{ static('img/products/relay/landing/how/how-it-works-2.svg') }}" alt="" width="306" height="223" loading="lazy">
      <h3 class="mzp-u-title-2xs">{{ ftl('how-it-works-section-forward-headline') }}</h3>
      <p>{{ ftl('how-it-works-section-forward-body') }}</p>
    </div>
    <div>
      <img src="{{ static('img/products/relay/landing/how/how-it-works-3.svg') }}" alt="" width="306" height="223" loading="lazy">
        <h3 class="mzp-u-title-2xs">{{ ftl('how-it-works-section-manage-headline') }}</h3>
        <p>{{ ftl('how-it-works-section-manage-body') }}</p>

    </div>
  </div>
</section>

<div class="t-features">
  <section>
    <p>reviews LALALA</p>
  </section>


  <section class="mzp-l-content">
    <h2 class="u-center">{{ ftl('plan-matrix-offer-title') }}</h2>
    <p class="u-center">{{ ftl('plan-matrix-offer-body') }}</p>

      {% include 'products/relay/includes/pricing.html' %}





  </section>

  <section>

    <h2 class="mzp-l-content mzp-t-content-nospace u-center">{{ ftl('highlighted-features-section-title') }}</h2>

      {% call split(
        block_class='mzp-l-split-reversed mzp-l-split-center-on-sm-md mzp-l-split-media-constrain-height',
        media_class='mzp-l-split-media-overflow',
        image='<img src="' + static('img/products/relay/landing/features/features-unlimited-email-masks.svg') + '" alt="" loading="lazy">'
      ) %}

        <h3 class="mzp-u-title-2xs">{{ ftl('highlighted-features-section-unlimited-masks-headline') }}</h3>
        <p>{{ ftl('highlighted-features-section-unlimited-masks-body', mask_limit="TKTK") }}</p>

      {% endcall %}


      {% call split(
        block_class='mzp-l-split-center-on-sm-md mzp-l-split-media-constrain-height',
        media_class='mzp-l-split-media-overflow',
        image='<img src="' + static('img/products/relay/landing/features/features-block-promotional-emails.svg') + '" alt="" loading="lazy">'
      ) %}

        <h3 class="mzp-u-title-2xs">{{ ftl('highlighted-features-section-masks-on-the-go-headline') }}</h3>
        <p>{{ ftl('highlighted-features-section-masks-on-the-go-body', mozmail="TKTK") }}</p>
      {% endcall %}

      {% call split(
        block_class='mzp-l-split-reversed mzp-l-split-center-on-sm-md mzp-l-split-media-constrain-height',
        media_class='mzp-l-split-media-overflow',
        image='<img src="' + static('img/products/relay/landing/features/features-reply-to-emails-anon.svg') + '" alt="" loading="lazy">'
      ) %}

        <h3 class="mzp-u-title-2xs">{{ ftl('highlighted-features-section-replying-headline') }}</h3>
        <p>{{ ftl('highlighted-features-section-replying-body') }}</p>
      {% endcall %}

      {% call split(
        block_class='mzp-l-split-center-on-sm-md mzp-l-split-media-constrain-height',
        media_class='mzp-l-split-media-overflow',
        image='<img src="' + static('img/products/relay/landing/features/features-block-promotional-emails.svg') + '" alt="" loading="lazy">'
      ) %}

        <h3 class="mzp-u-title-2xs">{{ ftl('highlighted-features-section-block-promotions-headline') }}</h3>
        <p>{{ ftl('highlighted-features-section-block-promotions-body') }}</p>
      {% endcall %}

      {% call split(
        block_class='mzp-l-split-reversed mzp-l-split-center-on-sm-md mzp-l-split-media-constrain-height',
        media_class='mzp-l-split-media-overflow',
        image='<img src="' + static('img/products/relay/landing/features/features-remove-email-trackers.svg') + '" alt="" loading="lazy">'
      ) %}

        <h3 class="mzp-u-title-2xs">{{ ftl('highlighted-features-section-remove-trackers-headline') }}</h3>
        <p>{{ ftl('highlighted-features-section-remove-trackers-body') }}</p>
      {% endcall %}
  </section>

  <h2 class="mzp-l-content u-center">{{ ftl('highlighted-features-section-bottom-title') }}</h2>
  <p>{{ ftl('highlighted-features-section-bottom-cta') }}</p>


</div>

<section class="mzp-l-content">
  <h2>{{ ftl('landing-faq-headline') }}</h2>
  <p><a href="TKTK" class="mzp-c-cta-link">{{ ftl('landing-faq-cta') }}</a></p>


  <details>
    <summary><h3 class="mzp-u-title-2xs">{{ ftl('faq-question-availability-question') }}</h3></summary>
    <p>{{ ftl('faq-question-landing-page-availability') }}</p>
  </details>


  <details>
    <summary><h3 class="mzp-u-title-2xs">{{ ftl('faq-question-what-is-question-2') }}</h3></summary>
    <p>{{ ftl('faq-question-what-is-answer-2') }}</p>
  </details>


  <details>
    <summary><h3 class="mzp-u-title-2xs">{{ ftl('faq-question-use-cases-question-2') }}</h3></summary>
    <p>{{ ftl('faq-question-use-cases-answer-part1-2') }}</p>
    <p>{{ ftl('faq-question-use-cases-answer-part2-2') }}</p>
  </details>


  <details>
    <summary><h3 class="mzp-u-title-2xs">{{ ftl('faq-question-browser-support-question') }}</h3></summary>
    <p>{{ ftl('faq-question-browser-support-answer-2') }}</p>
  </details>


</section>

{% endblock %}
