{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}


{% extends "products/relay/base.html" %}
{% from "macros-protocol.html" import split with context %}

{% block page_title_full %}TKTK{% endblock %}
{% block page_title_suffix %}{% endblock %}

{% block page_desc %}TKTK{% endblock %}

{% block body_id %}{% endblock %}

{% set _utm_source = 'www.mozilla.org-relay-product-page' %}
{% set _utm_campaign = 'relay-product-page' %}
{% set _params = '?utm_source=' ~ _utm_source ~ '&utm_medium=referral&utm_campaign=' ~ _utm_campaign %}

{% block page_css %}
  {{ css_bundle('relay-landing') }}
{% endblock %}

{% block sub_navigation %}
  {% include 'products/relay/includes/subnav.html' %}
{% endblock %}


{% block content %}

{% call split(
  block_class='mzp-l-split-pop',
  theme_class='',
  media_class='',
  media_include='products/relay/includes/phone.html'
) %}
  <h1 class="mzp-u-title-md">TKTK</h1>
  <p>TKTK</p>
  <p><button>{{ ftl('hero-section-cta') }}</button></p>
{% endcall %}


{% include 'products/relay/includes/bundle.html' %}

{% include 'products/relay/includes/features.html' %}

<div class="t-features">

  <section class="mzp-l-content">
    <h2 class="u-center">{{ ftl('plan-matrix-offer-title') }}</h2>
    <p class="u-center">{{ ftl('plan-matrix-offer-body') }}</p>

      {% include 'products/relay/includes/matrix.html' %}

  </section>

</div>

{% endblock %}
