// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

$font-path: '/media/protocol/fonts';
$image-path: '/media/protocol/img';
$brand-theme: 'firefox';

@import '~@mozilla-protocol/core/protocol/css/includes/lib';
@import '~@mozilla-protocol/core/protocol/css/components/section-heading';
@import '~@mozilla-protocol/core/protocol/css/components/split';
@import '~@mozilla-protocol/core/protocol/css/components/emphasis-box';
@import '~@mozilla-protocol/core/protocol/css/templates/multi-column';

@import 'phone';
@import 'bundle';
@import 'matrix';

.u-center {
    text-align: center;
}

// * -------------------------------------------------------------------------- */
// hero

.t-hero {
    background-color: $color-marketing-gray-10;

    .mzp-l-split-pop {
        padding-top: $layout-xl;
    }
}

.c-brands {
    border-bottom: 1px solid $color-marketing-gray-20;
    border-top: 1px solid $color-marketing-gray-20;
    margin-top: $spacing-lg;
    padding: $spacing-lg 0;
}

// * -------------------------------------------------------------------------- */
// how it works

.c-works-img {
    display: block;
    margin: 0 auto $spacing-xl auto;
}

// * -------------------------------------------------------------------------- */

.t-odd {
    background-color: $color-marketing-gray-10;
}

// * -------------------------------------------------------------------------- */
// reviews

.c-reviews {
    display: grid;
    gap: $layout-md;
    grid-template-rows: 200px 200px 1fr;
}

.c-review-amo,
.c-review-rating {
    border-radius: $border-radius-lg;
    display: block;
    height: 200px;
    margin-bottom: 0;
    position: relative;
    text-align: center;
}

.c-review-amo {
    background-color: $color-violet-50;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-decoration: none;
}

.c-review-amo-browser,
.c-review-amo-title {
    color: $color-white;
    display: block;
}

.c-review-amo-browser {
    &::before {
        background-image: url('/media/protocol/img/logos/firefox/browser/logo.svg');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
        display: block;
        height: 80px;
        margin-bottom: $spacing-xs;
        width: 100%;
    }
}

.c-review-amo-title {
    @include text-display-sm;
    font-weight: bold;
    padding-bottom: $spacing-lg;
    text-transform: uppercase;
}

.c-review-rating {
    align-items: center;
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &::before {
        background-image: url('/media/img/products/relay/landing/stars4.png');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: auto 24px;
        content: '';
        display: block;
        height: 24px;
        margin-bottom: $spacing-xs;
        width: 100%;
    }
}

.c-review-rating-number,
.c-review-rating-reference {
    display: block;
}

.c-review-rating-number {
    font-size: 5rem;
    font-weight: bold;
    line-height: 1;
}

.c-review-rating-reference {
    @include text-body-sm;
}

.c-review-text {
    align-items: end;
    background-color: $color-white;
    border-radius: $border-radius-lg;
    box-sizing: border-box;
    display: flex;
    min-height: 100%;
    padding: $spacing-lg;
    position: relative;
}

.c-review-quote {
    margin: 0;
    padding: 0 0 0 60px;
    border: 0;

    &::before {
        content: '“';
        color: $color-violet-50;
        font-size: 120px; // not using include because it should not scale with the screen
        line-height: 1;
        height: 60px;
        display: block;
        position: absolute;
        top: -14px + $spacing-md;
        left: -8px + $spacing-md;
    }

    p,
    ul {
        @include text-body-md;
        @include font-base;
        font-weight: normal;
        padding: $spacing-sm 0 $spacing-sm 0;
        margin: 0;
    }

    ul {
        margin-left: 1em; // width of the bullets
    }
}

.c-review-cite {
    &::before {
        display: none;
    }

    strong {
        white-space: nowrap;
    }
}

.c-review-stars {
    @include image-replaced;
    background-image: url('/media/img/products/relay/landing/stars5.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 24px;
    width: 120px;
    margin-bottom: -2px;
}

.c-review-source {
    @include text-body-sm;
    font-weight: normal;
    white-space: nowrap;
}

$review-min: 200px * 2 + $layout-md + $layout-sm * 2;
@media (min-width: $review-min) {
    .c-reviews {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        justify-items: start;

        div:first-child {
            justify-self: end;
        }
    }

    .c-review-amo,
    .c-review-rating {
        width: 200px;
        margin: 0 auto;
    }

    .c-review-text {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media #{$mq-lg} {
    .c-reviews {
        grid-template-columns: 200px 200px 1fr;
        gap: $layout-sm;
    }

    .c-review-text {
        grid-column-start: auto;
        grid-column-end: auto;
    }
}

@media #{$mq-xl} {
    .c-reviews {
        gap: $layout-md;
    }
}

// * -------------------------------------------------------------------------- */
// pricing

.c-pricing-sub {
    max-width: $content-lg;
    margin: 0 auto $spacing-lg auto;
    text-align: center;
}

.c-pricing-intro {
    max-width: $content-md;
    margin: 0 auto;
    text-align: center;
}

// * -------------------------------------------------------------------------- */
// features

.c-features {
    max-width: $content-xl;
    margin: 0 auto;

    h2 {
        margin-bottom: 0;
        padding-bottom: $layout-lg;
    }

    .mzp-c-split {
        @media #{$mq-lg} {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

// * -------------------------------------------------------------------------- */
// FAQs

.c-landing-faq {
    summary {
        padding-top: $layout-sm;
        padding-bottom: $layout-sm;

        h3 {
            margin: 0;
        }
    }

    details {
        border-bottom: 1px solid $color-marketing-gray-20;

        &:first-child {
            border-top: 1px solid $color-marketing-gray-20;
        }
    }

    @media #{$mq-lg} {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content 1fr;
        grid-template-areas:
            'head faq'
            'link faq';
        column-gap: $layout-md;

        h2 {
            grid-area: head;
        }

        p {
            grid-area: link;
        }

        div {
            grid-area: faq;
        }
    }
}
